div.qdr{

    border: 1px solid black;
    width: 200px;
    height: 200px; 
    display: inline-block;
    border-radius: 10px;
    background-color: lightgray;
}

div#q1{background-color: aqua;




}

div#q2{

    background-image: linear-gradient(to bottom, aqua, blue);


}

div#q3{

    background-image: url("img/pattern003.png");


}

body{

    background-image: url("img/wallpaper003.jpg");
}